[Unit]
Description=uWSGI instance to serve kmk-flaskapp
After=network.target

[Service]
User=kmk
Group=nginx
RuntimeDirectory=kmk
WorkingDirectory=/webapps/kmk
Environment="PATH=/webapps/.virtualenvs/kmk_app/bin"
ExecStart=/webapps/.virtualenvs/kmk_app/bin/uwsgi --ini /webapps/kmk/uwsgi.ini
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target